index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>No title page</title>
    <link href="../css/common.css" rel="stylesheet">
  </head>
  <body>
    <div class="table-container">
      <div class="table-container_search">
        <label for="searchField" class="table-container_search_title">Поиск по станции</label>
        <input id="searchField" type="text" placeholder="Введите станцию" class="table-container_search_field">
      </div>
      <div class="table-container_item table-container_item__sort">
        <div id="jsSortColumn" data-sort="stations" data-sort-field="name" data-value="+" class="table-container_item_title">Станция</div>
        <div data-field="name" class="table-container_item_content jsStationsList"></div>
      </div>
      <div class="table-container_item">
        <div class="table-container_item_title">Ветка</div>
        <div data-field="branch" class="table-container_item_content jsStationsList"></div>
      </div>
      <div class="table-container_item table-container_item__other table-container_item__bp-full">
        <div class="table-container_item_title">Все Ветки</div>
        <div data-field="name" class="table-container_item_content jsBranchesList"></div>
      </div>
    </div>
    <script src="js/ModelProvider.js"></script>
    <script src="js/TableManager.js"></script>
    <script src="js/TableView.js"></script>
  </body>
</html>

template/index.jade
doctype html
html
    head
        meta(charset="UTF-8")
        title No title page
        link(href='../css/common.css', rel='stylesheet')
    body
        .table-container
          .table-container_search
            label.table-container_search_title(for="searchField") Поиск по станции
            input.table-container_search_field#searchField(type="text", placeholder="Введите станцию")
          .table-container_item.table-container_item__sort
            .table-container_item_title#jsSortColumn(data-sort="stations", data-sort-field="name" data-value="+") Станция
            .table-container_item_content.jsStationsList(data-field="name")
          
          .table-container_item
            .table-container_item_title Ветка
            .table-container_item_content.jsStationsList(data-field="branch")
              
          .table-container_item.table-container_item__other.table-container_item__bp-full
              .table-container_item_title Все Ветки
              .table-container_item_content.jsBranchesList(data-field="name")
              
        script(src='js/ModelProvider.js')
        script(src='js/TableManager.js')
        script(src='js/TableView.js')
